{
  "tumlab": {
    "information": [
      {
        "id_batch": 1
      },
      {
        "id_project": 2
      },
      {
        "id_deparment": 3
      },
      {
        "id_town": 4
      },
      {
        "id_institution": 5
      },
      {
        "id_branch": 6
      },
      {
        "mac_address": "00e93af605f3"
      }
    ]
  }
}
